# Primary owner should be listed first in list of global owners, followed by any secondary owners
*       @NItishSh @shivashishratnam
ibm_catalog.json @NItishSh @SangeetManghnani
solutions/fully-configurable/ @NItishSh @SangeetManghnani
